body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #FFF;
    font-size: 16px;
    line-height: 1.42;
    background: #001821;
    margin: 0;
    -webkit-font-smoothing: antialiaed;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}
.wrapper {
    min-width: 1200px;
}

.wrapper--index {
    background-image: url("./images/1.png"), url("./images/2.png");
    background-repeat: no-repeat;
    background-position: top, bottom;
}

.container {
    position: relative;
    margin: 0 auto 100px;
    width: 1140px;
}

.hello__container {
    margin-bottom: 250px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.header {
    margin-bottom: 150px;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.header__logo {
    display: block;
    margin-right: 66px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    line-height: 1;

}

.contacts__info {
    font-size: 13px;
    text-decoration: underline;
    line-height: 1.2;
}

.hello__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 18px;
    max-width: 520px;
}

.hello__text {
    font-size: 18px;
    margin-bottom: 51px;
}

.button {
    background: #F5170E;
    border-radius: 35px;
    padding: 20px 40px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.title--fire {
    margin-bottom: 51px;
}

.title--fire::after {
    content: "";
    background: url("./images/flame.png") no-repeat;
    margin-left: 10px;
    width: 21px;
    height: 28px;
    position: absolute;
    top: 5%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.offers__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.offers__item {
    min-height: 470px;
    background: #FFF;
    border-radius: 4px;
    width: calc(100% / 3 - 18px);
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__img {
    width: 100%;
    object-fit: cover;
    min-height: 162px;
}

.offers__content {
    padding: 26px 22px 52px;
    color: #303030;
}

.offers__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
}

.offers__feature {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.offers__feature:last-child {
    margin-right: 0;
}

.offers__feature-img {
    margin-right: 10px;
}

.offers__feature-text {
    font-size: 16px;
    color: #666;
    line-height: 19px;
}

.offers__text {
    font-size: 14px;   
    color: #303030; 
    margin-bottom: 44px;
}

.offers__features {
    margin-bottom: 24px;
    display: flex;
}


.news__list {
    margin-bottom: 57.5px;
    display: flex;
    justify-content: space-between;
}

.news__item {
    width: 555px;
    border-radius: 4px;
    height: 394px;
    display: flex;
    align-items: flex-end;
}

.news__item--plain {
    background-image: url("./images/plain.png");
}

.news__item--serfer {
    background-image: url("./images/Surfer.png");
}

.news__text-content {
    padding: 25px 30px;
    min-height: 170px;
}

.news__item-title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 12px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__display {
    margin-right: 26px;
}

.pagination__list {
    display: flex;
}

.pagination__link {
    display: flex;
    justify-content: space-around;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pagination .pagination__item-active .pagination__link {
    background: #F5170E;
    color: #fff;
}

.pagination .pagination__link:hover {
    background: #F5170E;
    color: #fff;
}

.about__container {
    padding-top: 97px;
    position: relative;
}

.about__cover {
    content: "";
    display: inline-block;
    width: 450px;
    height: 490px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("./images/gates.png") center center / cover no-repeat;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 46px;
}

.about__text {
    margin-bottom: 42px;
}

.about__text p {
    margin-bottom: 20px;
}

.about__text p:last-child {
    margin-bottom: 0;
}

.about__content {
    display: block;
    position: relative;
    width: 785px;
    min-height: 455px;
    padding: 70px 202px 66px 81px;
    margin-left: auto;
    color: #060606;
    background: url("./images/mountains.png") center center / cover no-repeat;
}

.footer {
    height: 152px;
    position: relative;
}

.footer__col {
    display: flex;
}

.footer__container {
    border-top: 1px solid rgba(255,255,255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__about {
    color: #9A9A9A;
    font-size: 11px;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.socials__list {
    margin-right: 80px;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.social__item-tg .social__link {
    background-image: url("./images/telegram.png");
}

.social__item-tg .social__link:hover {
    background-image: url("./images/tghover.png");
}

.social__item-vk .social__link {
    background-image: url("./images/vk.png");
}

.social__item-vk .social__link:hover {
    background-image: url("./images/vkhover.png");
}

.social__item-fb .social__link {
    background-image: url("./images/f.png");
}

.social__item-fb .social__link:hover {
    background-image: url("./images/fbhover.png");
}

.social__item-ig .social__link {
    background-image: url("./images/in.png");
}

.social__item-ig .social__link:hover {
    background-image: url("./images/inhover.png");
}

.footer__logo {
    display: flex;
    margin-right: 55px;
}

/* services page */

.top-line {
    min-height: 412px;
    background-image: url("./images/headline\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.top-line__container {
    margin-bottom: 0;
}

.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item:after {
    content: " / ";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.page-content {
    background: #fff;
    color: #303030;
    padding: 40px 0;
}

.services {
    margin-bottom: 65px;
}

.service {
    display: flex;
    padding: 58px 43px;
    text-decoration: none;
}

.service__img {
    width: 30%;
    margin-right: 7%;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #000000;
}

.service__desc {
    line-height: 1.7;
    margin-bottom: 30px;
}

.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 95px 0;
}

.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    margin-left: -46px;
}

.partners__item {
    margin-left: 46px;
}

/*
.partners__item:nth-child(4n + 1) {
    margin-left: 0;
}
*/

.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}
