.footer {
    position: relative;
}

.footer-container__section {
    height: 152px;
}

.footer__col {
    display: flex;
}

.footer__menu {
    display: flex;
    align-items: center;
}

.footer__container {
    border-top: 1px solid rgba(255,255,255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__about {
    color: #9A9A9A;
    font-size: 11px;
}

.social__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.socials__list {
    margin-right: 70px;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.social__item-tg .social__link {
    position: relative;
}

.social__item-tg .social__link:hover:before {
    opacity: 1;
}

.social__item-tg .social__link:hover:after {
    opacity: 0;
}

.social__item-tg .social__link:after {
    content: "";
    display: block;
    position: absolute;
    width: 36px; 
    height: 36px;
    background: url("../../images/css_sprites.png") -10px -122px;
    transition: .3s;

}
.social__item-tg .social__link:before {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.3s;
    width: 36px; 
    height: 36px;
    opacity: 0;
    transition: .3s;
    background: url("../../images/css_sprites.png") -10px -290px;
}

.social__item-vk .social__link {
    position: relative;
}

.social__item-vk .social__link:hover:before {
    opacity: 1;
}

.social__item-vk .social__link:hover:after {
    opacity: 0;
}

.social__item-vk .social__link:after {
    content: "";
    display: block;
    position: absolute;
    width: 36px; 
    height: 36px;
    background: url("../../images/css_sprites.png") -10px -178px;
    transition: .3s;
}

.social__item-vk .social__link:before {
    content: "";
    display: block;
    position: absolute;
    width: 36px; 
    height: 36px;
    background: url("../../images/css_sprites.png") -10px -402px;
    opacity: 0;
    transition: .3s;
}

.social__item-fb .social__link {
    position: relative;
}

.social__item-fb .social__link:hover:before {
    opacity: 1;
}

.social__item-fb .social__link:hover:after {
    opacity: 0;
}

.social__item-fb .social__link:after {
    content: "";
    display: block;
    position: absolute;
    width: 36px; 
    height: 36px;
    background: url("../../images/css_sprites.png") -10px -10px;
    transition: .3s;
}

.social__item-fb .social__link:before {
    content: "";
    display: block;
    position: absolute;
    width: 36px; 
    height: 36px;
    background: url("../../images/css_sprites.png") -10px -234px;
    transition: .3s;
    opacity: 0;
}

.social__item-ig .social__link {
    position: relative;
}

.social__item-ig .social__link:hover:before {
    opacity: 1;
}

.social__item-ig .social__link:hover:after {
    opacity: 0;
}

.social__item-ig .social__link:after {
    content: "";
    display: block;
    position: absolute;
    width: 36px; 
    height: 36px;
    background: url("../../images/css_sprites.png") -10px -66px;
    transition: .3s;
}

.social__item-ig .social__link:before {
    content: "";
    display: block;
    position: absolute;
    width: 36px; 
    height: 36px;
    background: url("../../images/css_sprites.png") -10px -346px;
    transition: .3s;
    opacity: 0;
}

.footer__logo {
    display: flex;
    margin-right: 80px;
    width: 85px;
    height: 36px;
}