.top-line {
    min-height: 412px;
    background: url("../../images/headline\ 1.png") center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 21px;
}

.top-line__header {
    margin-bottom: 0;
}

.top-line__container {
    margin-bottom: 0;
}

.top-line__header-container{
    padding-top: 31px;
}

.top-line__header-logo {
    width: 98px;
}

.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item:after {
    content: " / ";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.page-content {
    background: #fff;
    color: #303030;
    padding: 99px 0 84px 0;
}

.services {
    margin-bottom: 65px;
}

.service {
    display: flex;
    text-decoration: none;
}

.service__img {
    width: 41%;
    margin-right: 4.4%;
}

.service__content {
    flex: 1;
    padding-top: 10px;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 35px;
    color: #000000;
}

.service__desc {
    line-height: 1.7;
    margin-bottom: 30px;
}

.services__item {
    margin-bottom: 48px;
}

.services__item:last-child {
    margin-bottom: 0;
}

.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 95px 0;
}

.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 75px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partners__item .partners__link {
    justify-content: center;
}

.partners__item:nth-child(4n + 1) .partners__link {
    justify-content: flex-start;
}

.partners__item:nth-child(4n + 4) .partners__link {
    justify-content: flex-end;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    max-width: 285px;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}

.inner-footer {
    margin-top: auto;
}

.inner-footer__container {
    padding: 45px 0 ;
}